<h1>Fulfilling Cate's Funding Request</h1>

<%= form_tag('/checkout', { class: "ui form segment" }) do %>
  <p>
<div class="ui card" >
  <div class="image dimmable">
    
    <%= image_tag @funding.photo if @funding.photo %>
   
  </div>
  
  
  <div class="content">
    <div class="header"><%= @funding.title %></div>
   
    <div class="description">
      <%= @funding.content %>
    </div>    

   <div class="meta">
      <a class="group">
        Target: <%= number_to_currency @funding.amtTarget %><br/>
      Current: <%= number_to_currency @funding.amtCurrent %>
      </a>
    </div>
    
  <div class="inline fields">
    <%= label_tag 'Fulfil Amount (to send): ' %>
    <%= text_field_tag 'amount',(@funding.amtTarget - @funding.amtCurrent).to_s,placeholder: "Eg. 10.00" %>
  </div>
  <div id="dropin"></div>
  <%= hidden_field_tag 'id', @funding.id %>
  <%= submit_tag "Pay" %>
<% end %>
<div id="dropin"></div>
<script>
  braintree.setup(
    // Replace this with a client token from your server
    '<%= @ctok %>',
    'dropin', {
      container: 'dropin'
    });
</script>

<%= link_to 'Show', @funding %> |
<%= link_to 'Back', fundings_path %>
